<a href="https://colab.research.google.com/github/RebelReindeer/Coding-Projects/blob/main/TENSORFLOWWWWW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
insurance = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
insurance_one_hot = pd.get_dummies(insurance)
insurance_one_hot.head()

   age     bmi  children  ...  region_northwest  region_southeast  region_southwest
0   19  27.900         0  ...                 0                 0                 1
1   18  33.770         1  ...                 0                 1                 0
2   28  33.000         3  ...                 0                 1                 0
3   33  22.705         0  ...                 1                 0                 0
4   32  28.880         0  ...                 1                 0                 0

[5 rows x 12 columns]

In [ ]:
#create x and y values (x: features, y: labels)
x = insurance_one_hot.drop('charges', axis = 1)
y = insurance_one_hot['charges']
#create training and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=42)

#create a model

insurance_model = tf.keras.Sequential([
  tf.keras.layers.Flatten(input_shape = (11,)),
  tf.keras.layers.Dense(128, activation = 'relu'),
  tf.keras.layers.Dropout(0.5),
  tf.keras.layers.Dense(258, activation = 'relu'),
  tf.keras.layers.Dropout(0.5),
  tf.keras.layers.Dense(128, activation = 'relu'),
  tf.keras.layers.Dense(1)
])

insurance_model.compile(loss = tf.keras.losses.mae, optimizer = tf.keras.optimizers.SGD(), metrics = ['mae'])

insurance_model.fit(x_train, y_train, epochs = 100)

Epoch 1/100
34/34 [==============================] - 1s 3ms/step - loss: 24245.4004 - mae: 24245.4004
Epoch 2/100
34/34 [==============================] - 0s 3ms/step - loss: 13339.6572 - mae: 13339.6572
Epoch 3/100
34/34 [==============================] - 0s 2ms/step - loss: 13135.9629 - mae: 13135.9629
Epoch 4/100
34/34 [==============================] - 0s 3ms/step - loss: 9769.7891 - mae: 9769.7891
Epoch 5/100
34/34 [==============================] - 0s 3ms/step - loss: 9180.4297 - mae: 9180.4297
Epoch 6/100
34/34 [==============================] - 0s 2ms/step - loss: 8956.2100 - mae: 8956.2100
Epoch 7/100
34/34 [==============================] - 0s 3ms/step - loss: 9022.0449 - mae: 9022.0449
Epoch 8/100
34/34 [==============================] - 0s 3ms/step - loss: 9013.6582 - mae: 9013.6582
Epoch 9/100
34/34 [==============================] - 0s 3ms/step - loss: 8999.5410 - mae: 8999.5410
Epoch 10/100
34/34 [==============================] - 0s 3ms/step - loss: 9074.8232 - mae: 9074.8232
Epoch 11/100
34/34 [==============================] - 0s 3ms/step - loss: 8868.1016 - mae: 8868.1016
Epoch 12/100
34/34 [==============================] - 0s 3ms/step - loss: 9022.8193 - mae: 9022.8193
Epoch 13/100
34/34 [==============================] - 0s 3ms/step - loss: 8876.2285 - mae: 8876.2285
Epoch 14/100
34/34 [==============================] - 0s 3ms/step - loss: 9028.3643 - mae: 9028.3643
Epoch 15/100
34/34 [==============================] - 0s 3ms/step - loss: 8889.4561 - mae: 8889.4561
Epoch 16/100
34/34 [==============================] - 0s 3ms/step - loss: 8851.4873 - mae: 8851.4873
Epoch 17/100
34/34 [==============================] - 0s 3ms/step - loss: 8958.2979 - mae: 8958.2979
Epoch 18/100
34/34 [==============================] - 0s 3ms/step - loss: 8847.6748 - mae: 8847.6748
Epoch 19/100
34/34 [==============================] - 0s 3ms/step - loss: 8809.0098 - mae: 8809.0098
Epoch 20/100
34/34 [==============================] - 0s 2ms/step - loss: 8844.4912 - mae: 8844.4912
Epoch 21/100
34/34 [==============================] - 0s 3ms/step - loss: 8760.9883 - mae: 8760.9883
Epoch 22/100
34/34 [==============================] - 0s 3ms/step - loss: 8817.0449 - mae: 8817.0449
Epoch 23/100
34/34 [==============================] - 0s 3ms/step - loss: 8785.9893 - mae: 8785.9893
Epoch 24/100
34/34 [==============================] - 0s 2ms/step - loss: 8909.6670 - mae: 8909.6670
Epoch 25/100
34/34 [==============================] - 0s 3ms/step - loss: 8788.7646 - mae: 8788.7646
Epoch 26/100
34/34 [==============================] - 0s 3ms/step - loss: 8871.0420 - mae: 8871.0420
Epoch 27/100
34/34 [==============================] - 0s 3ms/step - loss: 8784.0781 - mae: 8784.0781
Epoch 28/100
34/34 [==============================] - 0s 2ms/step - loss: 8873.6953 - mae: 8873.6953
Epoch 29/100
34/34 [==============================] - 0s 3ms/step - loss: 8732.1318 - mae: 8732.1318
Epoch 30/100
34/34 [==============================] - 0s 3ms/step - loss: 8749.4385 - mae: 8749.4385
Epoch 31/100
34/34 [==============================] - 0s 2ms/step - loss: 8702.7432 - mae: 8702.7432
Epoch 32/100
34/34 [==============================] - 0s 3ms/step - loss: 8776.9023 - mae: 8776.9023
Epoch 33/100
34/34 [==============================] - 0s 3ms/step - loss: 8614.7998 - mae: 8614.7998
Epoch 34/100
34/34 [==============================] - 0s 2ms/step - loss: 8625.3896 - mae: 8625.3896
Epoch 35/100
34/34 [==============================] - 0s 2ms/step - loss: 8549.1982 - mae: 8549.1982
Epoch 36/100
34/34 [==============================] - 0s 3ms/step - loss: 8545.8320 - mae: 8545.8320
Epoch 37/100
34/34 [==============================] - 0s 2ms/step - loss: 8543.6338 - mae: 8543.6338
Epoch 38/100
34/34 [==============================] - 0s 3ms/step - loss: 8523.1895 - mae: 8523.1895
Epoch 39/100
34/34 [==============================] - 0s 3ms/step - loss: 8621.6963 - mae: 8621.6963
Epoch 40/100
34/34 [==============================] - 0s 2ms/step - loss: 8575.4756 - mae: 8575.4756
Epoch 41/100
34/34 [==============================] - 0s 3ms/step - loss: 8627.7041 - mae: 8627.7041
Epoch 42/100
34/34 [==============================] - 0s 2ms/step - loss: 8558.4082 - mae: 8558.4082
Epoch 43/100
34/34 [==============================] - 0s 3ms/step - loss: 8587.4824 - mae: 8587.4824
Epoch 44/100
34/34 [==============================] - 0s 2ms/step - loss: 8485.5312 - mae: 8485.5312
Epoch 45/100
34/34 [==============================] - 0s 2ms/step - loss: 8611.9238 - mae: 8611.9238
Epoch 46/100
34/34 [==============================] - 0s 2ms/step - loss: 8568.6299 - mae: 8568.6299
Epoch 47/100
34/34 [==============================] - 0s 3ms/step - loss: 8520.8740 - mae: 8520.8740
Epoch 48/100
34/34 [==============================] - 0s 3ms/step - loss: 8529.5938 - mae: 8529.5938
Epoch 49/100
34/34 [==============================] - 0s 2ms/step - loss: 8576.1992 - mae: 8576.1992
Epoch 50/100
34/34 [==============================] - 0s 3ms/step - loss: 8525.5723 - mae: 8525.5723
Epoch 51/100
34/34 [==============================] - 0s 2ms/step - loss: 8529.1660 - mae: 8529.1660
Epoch 52/100
34/34 [==============================] - 0s 2ms/step - loss: 8578.9326 - mae: 8578.9326
Epoch 53/100
34/34 [==============================] - 0s 3ms/step - loss: 8487.6475 - mae: 8487.6475
Epoch 54/100
34/34 [==============================] - 0s 3ms/step - loss: 8542.9258 - mae: 8542.9258
Epoch 55/100
34/34 [==============================] - 0s 3ms/step - loss: 8472.0732 - mae: 8472.0732
Epoch 56/100
34/34 [==============================] - 0s 2ms/step - loss: 8593.1514 - mae: 8593.1514
Epoch 57/100
34/34 [==============================] - 0s 3ms/step - loss: 8518.8066 - mae: 8518.8066
Epoch 58/100
34/34 [==============================] - 0s 2ms/step - loss: 8540.5879 - mae: 8540.5879
Epoch 59/100
34/34 [==============================] - 0s 3ms/step - loss: 8528.1367 - mae: 8528.1367
Epoch 60/100
34/34 [==============================] - 0s 2ms/step - loss: 8500.1982 - mae: 8500.1982
Epoch 61/100
34/34 [==============================] - 0s 3ms/step - loss: 8588.4678 - mae: 8588.4678
Epoch 62/100
34/34 [==============================] - 0s 3ms/step - loss: 8462.5137 - mae: 8462.5137
Epoch 63/100
34/34 [==============================] - 0s 3ms/step - loss: 8465.5889 - mae: 8465.5889
Epoch 64/100
34/34 [==============================] - 0s 3ms/step - loss: 8506.2910 - mae: 8506.2910
Epoch 65/100
34/34 [==============================] - 0s 3ms/step - loss: 8533.2188 - mae: 8533.2188
Epoch 66/100
34/34 [==============================] - 0s 3ms/step - loss: 8550.9980 - mae: 8550.9980
Epoch 67/100
34/34 [==============================] - 0s 3ms/step - loss: 8445.3926 - mae: 8445.3926
Epoch 68/100
34/34 [==============================] - 0s 2ms/step - loss: 8531.6953 - mae: 8531.6953
Epoch 69/100
34/34 [==============================] - 0s 3ms/step - loss: 8510.1670 - mae: 8510.1670
Epoch 70/100
34/34 [==============================] - 0s 3ms/step - loss: 8550.8594 - mae: 8550.8594
Epoch 71/100
34/34 [==============================] - 0s 2ms/step - loss: 8450.7080 - mae: 8450.7080
Epoch 72/100
34/34 [==============================] - 0s 2ms/step - loss: 8531.6445 - mae: 8531.6445
Epoch 73/100
34/34 [==============================] - 0s 3ms/step - loss: 8431.7676 - mae: 8431.7676
Epoch 74/100
34/34 [==============================] - 0s 2ms/step - loss: 8496.2412 - mae: 8496.2412
Epoch 75/100
34/34 [==============================] - 0s 3ms/step - loss: 8533.0117 - mae: 8533.0117
Epoch 76/100
34/34 [==============================] - 0s 3ms/step - loss: 8466.7617 - mae: 8466.7617
Epoch 77/100
34/34 [==============================] - 0s 3ms/step - loss: 8469.8105 - mae: 8469.8105
Epoch 78/100
34/34 [==============================] - 0s 3ms/step - loss: 8442.8066 - mae: 8442.8066
Epoch 79/100
34/34 [==============================] - 0s 3ms/step - loss: 8459.1514 - mae: 8459.1514
Epoch 80/100
34/34 [==============================] - 0s 3ms/step - loss: 8467.5547 - mae: 8467.5547
Epoch 81/100
34/34 [==============================] - 0s 3ms/step - loss: 8429.3770 - mae: 8429.3770
Epoch 82/100
34/34 [==============================] - 0s 3ms/step - loss: 8407.6152 - mae: 8407.6152
Epoch 83/100
34/34 [==============================] - 0s 3ms/step - loss: 8432.6328 - mae: 8432.6328
Epoch 84/100
34/34 [==============================] - 0s 3ms/step - loss: 8469.3613 - mae: 8469.3613
Epoch 85/100
34/34 [==============================] - 0s 3ms/step - loss: 8504.9619 - mae: 8504.9619
Epoch 86/100
34/34 [==============================] - 0s 2ms/step - loss: 8394.1045 - mae: 8394.1045
Epoch 87/100
34/34 [==============================] - 0s 2ms/step - loss: 8359.4395 - mae: 8359.4395
Epoch 88/100
34/34 [==============================] - 0s 2ms/step - loss: 8408.8896 - mae: 8408.8896
Epoch 89/100
34/34 [==============================] - 0s 2ms/step - loss: 8414.9609 - mae: 8414.9609
Epoch 90/100
34/34 [==============================] - 0s 3ms/step - loss: 8531.7080 - mae: 8531.7080
Epoch 91/100
34/34 [==============================] - 0s 2ms/step - loss: 8455.9180 - mae: 8455.9180
Epoch 92/100
34/34 [==============================] - 0s 3ms/step - loss: 8514.7061 - mae: 8514.7061
Epoch 93/100
34/34 [==============================] - 0s 3ms/step - loss: 8492.5117 - mae: 8492.5117
Epoch 94/100
34/34 [==============================] - 0s 2ms/step - loss: 8442.4551 - mae: 8442.4551
Epoch 95/100
34/34 [==============================] - 0s 2ms/step - loss: 8388.3789 - mae: 8388.3789
Epoch 96/100
34/34 [==============================] - 0s 3ms/step - loss: 8492.3125 - mae: 8492.3125
Epoch 97/100
34/34 [==============================] - 0s 2ms/step - loss: 8428.4609 - mae: 8428.4609
Epoch 98/100
34/34 [==============================] - 0s 2ms/step - loss: 8389.7344 - mae: 8389.7344
Epoch 99/100
34/34 [==============================] - 0s 3ms/step - loss: 8475.4561 - mae: 8475.4561
Epoch 100/100
34/34 [==============================] - 0s 3ms/step - loss: 8505.2021 - mae: 8505.2021